@font-face {
    font-family: norse-bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    display: flex;
    height: 100vh;
    width: 100vw;
}

nav {
    width: 30%;
    background-image: url("bgimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 25%;
    font-family: norse-bold, sans-serif;
    font-size: 5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

img {
    height: 80%;
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#top,
#form,
#bottom{
    height: 33.3%;
    width: 100%;
    display: flex;
    flex: 1;
}

#top {


    flex-direction: column;
    justify-content: end;
    background-color: #EEE;

    padding-bottom: 2rem;
}

#top p {
    margin: 1.5rem;
    width: clamp(45ch, 65ch, 75ch);
    font-weight: bold;
    font-size: 1.5rem;
}